<!DOCTYPE html>

<!-- Aquest arxiu rep una llista amb noms de fruites. -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- A la capçalera no li fa falta cap informació, passem un objecte buit. -->
        <%- include('partials/head'); %>
        <title>Fruit</title>
    </head>
    <body>
        <div class = "formulari">
            <header >
                <%- include('partials/header'); %>
            </header>
            <form method="post" action="/addItem" enctype="multipart/form-data">
                <p>Afegir un nou producte:</p>
                <div class="formRow">ID: <input type="text" name="id" /></div>
                <div class="formRow">Nom: <input type="text" name="nom" /></div>
                <div class="formRow"> Preu: <input type="text" name="preu" /></div>
                <div class="formRow">Descripció: <textarea type="text" name="descripcio"></textarea></div>
                <div class="formRow">Imatge: <input type="file" name="files"></div>
                <div class="formRow"><input type="submit" value="Afegir"></div>
            </form>
        </div>
    </body>
