<h1>Pagina de editar</h1>
<!DOCTYPE html>

<!-- Aquest arxiu rep una llista amb noms de fruites. -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- A la capçalera no li fa falta cap informació, passem un objecte buit. -->
        <%- include('partials/head'); %>
        <title>Fruit</title>
    </head>
    <body>
        <div class = "formulari">
            <header >
                <%- include('partials/header'); %>
            </header>
            <p>Modifivar producte:</p>
            <%- include('partials/fruitsBody'); %>
        </div>
    </body>